  *{
    box-sizing: border-box;
  }
  html, body {
    height: 100%; 
  }
  body {
    background-color: #fff;
    color: #666;
    font-family: 'Open Sans', arial, sans-serif;
    width: 100%;
    margin: 0 auto 0 auto;
  }
  .section {
    width: 100%;
  }
  .section:after {
    content: "";
    display: table;
    clear: both;
  }
  .recipe img{
    width: 100%;
    height: auto;
  }
  .overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    color: #fff;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0.75em 1em;
    letter-spacing: 0.05em;
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.6);
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
  }
  .recipe:hover .overlay{
    opacity: 1;
  }
  br {
    margin-bottom: 6px;
  }
  .recipe {
    position: relative;
    float: left;
    /*width: calc((100% - 60px) / 4);*/
    width: calc((100%) / 4);
    border: none;
    /*margin-right: 20px;*/
    padding-bottom: 25%;
    height: 0;
  }
  #nothing-found {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    border: none;
    padding-bottom: 25%;
    height: 0; 
  }
  .recipe:last-child{
    margin-right: 0;
  }
    /* Add a black background color to the top navigation bar */
 .search{
  width: 100%;
 }
  /* Style the search box inside the navigation bar */
  input[type=text] {
    display: block;
    padding: 6px;
    border: none;
    /*margin-top: 8px;*/
    font-size: 17px;
    padding: 14px 16px;
    width: 75%;
    float: right;
    height: 56px;
    background-color: rgb(243, 243, 243);
  }
  .feature-img img {
    object-fit: cover;
    width: 100%;
    height: 450px;
  }
  #recipe-content {
    width: 75%;
    float: right;
    overflow-y:auto;
    height:100%;
  }
  #scroll-bar {
    width: 25%;
    float: left;
    overflow-y:auto;
    height:100%;
  }
  #scroll-bar .recipe{
      width: 100%;
      height: 0;
      padding-bottom: 100%;
  }
  .instructions {
    padding: 10%;
  }
  .top-bar img{
    float: left;
      }
  .top-bar input{
    float: right;
  }

  @media (max-width: 768px) {
    #scroll-bar {
      display: none;
  }
    #recipe-content {
    width: 100%;
  }
  .top-bar img {
    width: 100%;
  }
  input[type=text] {
    width: 100%;
  }
}
  @media (max-width: 480px) {
    #scroll-bar {
      display: none;
    }
    #recipe-content {
    width: 100%;
  }
  .top-bar img {
    width: 100%;
  }
  input[type=text] {
    width: 100%;
  }
      
  }
  .withoutSearch{
    display: block;
    height: 55px;
    width: 100%;
    clear: both;
  }


  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
  }

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
    .section:after {
      content: "";
      display: table;
      clear: both;
    }
    .recipe {
      float: left;
      width: calc((100%) / 2);
      border: none;
      /*margin-right: 20px;*/
      padding-bottom: 50%;
      height: 0;
    }
    .recipe:last-child{
      margin-right: 0;
    }
    .recipe:nth-child(2){
      margin-right: 0;
    }
    /*.recipe {
      margin-top: 2.30%;*/
  }
    
  
  @media (max-width: 480px) {
    .recipe {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
    }
    /*.recipe + .recipe {
      margin-top: 2.30%;*/
      
  }